<h1>機器一覧</h1>

<table>
  <thead>
    <tr>
      <th>種類</th>
      <th>シリアルNo</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.device_type, device_path(device) %></td>
        <td><%= device.serial %></td>
      </tr>
    <% end%>
  </tbody>
</table>

<%= link_to "機器登録", new_device_path %>