<h1>マイページ</h1>

<table>
  <tbody>
    <tr>
      <h5>ユーザー名</h5>
      <%= @user.name %>
    </tr>
    <tr>
      <h5>メールアドレス</h5>
      <%= @user.email %>
    </tr>
    <tr>
      <h5>パスワード</h5>
      <p>********</p>
    </tr>
  </tbody>
</table>

<%= link_to "編集", edit_user_path(current_user) %>