<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="card modal-content border-0 shadow">
      
      <div class="modal-header border-bottom-0 pt-4 px-4">
        <h5 class="modal-title fw-bold text-secondary" id="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body px-4 py-3">
        <p id="modal-message" class="fs-6 text-dark"></p>
      </div>

      <div class="modal-footer border-top-0 pb-4 px-4">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</button>
        
        <%= form_with url: "#", method: :patch, id: "modal-confirm-form" do |f| %>
          <%= f.hidden_field "request[comment]", id: "modal-hidden-comment" %>
          <%= f.submit "OK", id: "modal-confirm-button", class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>