<header>
  <div>
    <h1>Rental App</h1>

    <% if user_signed_in? %>
      <%= link_to current_user.name, user_path(current_user) %>
    <% end %>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
  </dev>
</header>